<%- include("partials/header", { bot, user, path, title: "Dashboard" }) %>

<% user.guilds.forEach(guild => {
    const permsOnGuild = new perms(guild.permissions);
    if(!permsOnGuild.has("MANAGE_GUILD")) return;
  %>
  <hr>
  <p><%= guild.name %></p>
  <% if (bot.guilds.cache.get(guild.id)) { %>
    <a href="/dashboard/<%= guild.id %>">Edit Settings</a>
  <% } else { %>
    <a href="<%= `https://discord.com/api/oauth2/authorize?client_id=${bot.user.id}&permissions=8&redirect_uri=https%3A%2F%2Fdiscord.chillcafe.repl.co%2Fcallback&scope=bot`)}` %>">Add Bot</a>
  <% } %>
  <% }); %>
<%- include("partials/footer") %>